@charset "utf-8";

body {
  font-family: var(--font-m-ko);
}

/***** 모바일 버전 *****/
/***** header *****/
header {
  width: 100%;
  height: 70px;
  background-color: var(--color-element-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border-bottom: 2px solid var(--color-black);
  position: fixed;
  top: 0;
  z-index: 3;
}

header .logo {
  width: 107px;
}

header .logo img {
  width: 100%;
}

header .header-nav .global-menu {
  display: none;
}

/***** footer *****/
footer {
  width: 100%;
  color: var(--color-black);
}

footer .newsletter {
  width: 100%;
  height: 30vh;
  padding: 0px 20px;
  background-color: var(--color-element-1);
  border-bottom: 2px solid var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .newsletter .newsletter-txt h4 {
  font-family: 'Noto Sans KR';
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

footer .newsletter .newsletter-txt p {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-size: 14px;
  width: 350px;
  margin-bottom: 15px;
}

footer .newsletter .email-form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4%;
}

footer .newsletter .email-form input {
  width: 65%;
  height: 40px;
}

footer .newsletter .email-form a {
  display: block;
  width: 31%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid var(--color-black);
  background-color: var(--color-element-3);
  font-family: 'ClashDisplay-Medium';
  font-size: 14px;
}

footer .link-list-wrapper {
  width: 100%;
  height: 35vh;
  padding: 30px 20px;
  background-color: var(--color-element-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .link-list-wrapper .link-list {
  display: flex;
  gap: 25px;
  font-family: 'Noto Sans KR';
  text-transform: capitalize;
  font-size: var(--font-m-text);
}

footer .link-list-wrapper .sns-logo-wrapper .sns-logo {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}

footer .link-list-wrapper .sns-logo-wrapper .sns-logo li img {
  width: 25px;
  border-radius: 5px;
}

footer .link-list-wrapper .sns-logo-wrapper .info {
  display: flex;
  gap: 20px;
}

footer .link-list-wrapper .sns-logo-wrapper .info p {
  font-size: 10px;
  color: #444;
  font-family: 'Noto Sans KR';
}


/***** PC 버전 *****/
@media (min-width: 1200px) {

  /***** header *****/
  header {
    height: 60px;
    padding: 0px 260px;
  }

  header .header-nav .global-menu {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  header .header-nav .global-menu li {
    text-transform: uppercase;
    font-family: 'ClashDisplay-Medium';
    font-size: 16px;
  }

  header .header-nav .global-menu .contact-btn {
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: var(--color-element-4);
    border: 1px solid var(--color-black);
    margin-left: 30px;
  }

  header .header-nav .mobile-menu {
    display: none;
  }

  /***** footer *****/
  footer {
    height: 25vh;
    display: flex;
  }

  footer .newsletter {
    width: 50vw;
    height: 100%;
    padding-right: 40px;
    justify-content: center;
    align-items: flex-end;
    border-bottom: none;
  }

  footer .newsletter .newsletter-txt {
    width: 50%;
    height: 85px;
  }

  footer .newsletter .newsletter-txt h4 {
    margin-bottom: 8px;
  }

  footer .newsletter .newsletter-txt p {
    width: 100%;
    margin-bottom: 15px;
  }

  footer .newsletter .email-form {
    width: 50%;
    gap: 3%;
  }

  footer .newsletter .email-form input {
    width: 65%;
    height: 35px;
  }

  footer .newsletter .email-form a {
    height: 35px;
    line-height: 35px;
  }

  footer .link-list-wrapper {
    justify-content: center;
    width: 50vw;
    height: 100%;
    padding-left: 40px;
    border-left: 2px solid var(--color-black);
  }

  footer .link-list-wrapper .link-list {
    justify-content: space-between;
    width: 50%;
    height: 85px;
    margin: 0;
  }

  footer .link-list-wrapper .sns-logo-wrapper {
    width: 60%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  footer .link-list-wrapper .sns-logo-wrapper .sns-logo {
    margin: 0;
  }

  footer .link-list-wrapper .sns-logo-wrapper .info {
    align-items: flex-end;
  }

}